@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* CAROUSEL IMG = 1903X865 PIXEL*/
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    width: auto;
}

header {
    padding: 30px 10px;
    width: 100%;
    height: auto;
    background-color: #1f2133;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.carousel-indicators{
     background-color:none;
     
}

.logo {
    cursor: pointer;
    display: block;
    max-width:200px;
    max-height:60px;
    width: auto;
    height: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    font-family:'Noto Sans', sans-serif;
    font-weight:500;
    font-size:  16px;
    color: #edf0f1;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #0088a9;
}

header a button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header a button:focus {
    outline: 0 !important;
}

button:hover {
    background-color: rgba(0, 136,169, 0.8);
}


